<a href="https://colab.research.google.com/github/LEESUAJE1978/deeplearning_sejong/blob/master/ex10_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. AND, OR, NAND, XOR문제 해결 함수

In [51]:
def AND(x1, x2):
  w1, w2, theta = 0.5, 0.5, 0.7
  y = w1 *x1 + w2 *x2
  if y <= theta:
    return 0
  elif y > theta:
    return 1

In [52]:
print("입력 값이 (0,0) 일때 And 연산의 결과는:", AND(0,0))
print("입력 값이 (1,0) 일때 And 연산의 결과는:", AND(1,0))
print("입력 값이 (0,1) 일때 And 연산의 결과는:", AND(0,1))
print("입력 값이 (1,1) 일때 And 연산의 결과는:", AND(1,1))

입력 값이 (0,0) 일때 And 연산의 결과는: 0
입력 값이 (1,0) 일때 And 연산의 결과는: 0
입력 값이 (0,1) 일때 And 연산의 결과는: 0
입력 값이 (1,1) 일때 And 연산의 결과는: 1

In [53]:
import numpy as np
def AND(X1, X2):
  x = np.array([X1, X2])
  w = np.array([.5,.5])
  b = -.7
  y = b + np.sum(w*x)
  if y > 0:
    return 1
  else:
    return 0

In [54]:
print("입력 값이 (0,0) 일때 And 연산의 결과는:", AND(0,0))
print("입력 값이 (1,0) 일때 And 연산의 결과는:", AND(1,0))
print("입력 값이 (0,1) 일때 And 연산의 결과는:", AND(0,1))
print("입력 값이 (1,1) 일때 And 연산의 결과는:", AND(1,1))

입력 값이 (0,0) 일때 And 연산의 결과는: 0
입력 값이 (1,0) 일때 And 연산의 결과는: 0
입력 값이 (0,1) 일때 And 연산의 결과는: 0
입력 값이 (1,1) 일때 And 연산의 결과는: 1

In [55]:
def NAND(X1, X2):
  x = np.array([X1, X2])
  w = np.array([-.5,-.5])
  b = .7
  y = b + np.sum(w*x)
  if y > 0 :
    return 1
  else:
    return 0

In [56]:
print("입력 값이 (0,0) 일때 NAND 연산의 결과는:", NAND(0,0))
print("입력 값이 (1,0) 일때 NAND 연산의 결과는:", NAND(1,0))
print("입력 값이 (0,1) 일때 NAND 연산의 결과는:", NAND(0,1))
print("입력 값이 (1,1) 일때 NAND 연산의 결과는:", NAND(1,1))

입력 값이 (0,0) 일때 NAND 연산의 결과는: 1
입력 값이 (1,0) 일때 NAND 연산의 결과는: 1
입력 값이 (0,1) 일때 NAND 연산의 결과는: 1
입력 값이 (1,1) 일때 NAND 연산의 결과는: 0

In [ ]:
def OR(X1, X2):
  x = np.array([X1, X2])
  w = np.array([.5, .5])
  b = -.2
  y = b + np.sum(w*x)
  if y > 0:
    return 1
  else:
    return 0

In [ ]:
print("입력 값이 (0,0) 일때 OR 연산의 결과는:", OR(0,0))
print("입력 값이 (1,0) 일때 OR 연산의 결과는:", OR(1,0))
print("입력 값이 (0,1) 일때 OR 연산의 결과는:", OR(0,1))
print("입력 값이 (1,1) 일때 OR 연산의 결과는:", OR(1,1))

입력 값이 (0,0) 일때 OR 연산의 결과는: 0
입력 값이 (1,0) 일때 OR 연산의 결과는: 1
입력 값이 (0,1) 일때 OR 연산의 결과는: 1
입력 값이 (1,1) 일때 OR 연산의 결과는: 1

In [ ]:
def XOR(x1, x2):
  h1 = OR(x1, x2)
  h2 = NAND(x1, x2)
  y = AND(h1, h2)
  if y > 0:
    return 1
  else:
    return 0

In [ ]:
print("입력 값이 (0,0) 일때 XOR 연산의 결과는:", XOR(0,0))
print("입력 값이 (1,0) 일때 XOR 연산의 결과는:", XOR(1,0))
print("입력 값이 (0,1) 일때 XOR 연산의 결과는:", XOR(0,1))
print("입력 값이 (1,1) 일때 XOR 연산의 결과는:", XOR(1,1))

입력 값이 (0,0) 일때 XOR 연산의 결과는: 0
입력 값이 (1,0) 일때 XOR 연산의 결과는: 1
입력 값이 (0,1) 일때 XOR 연산의 결과는: 1
입력 값이 (1,1) 일때 XOR 연산의 결과는: 0

2. XOR 문제 Logistic Regression으로 구현

In [2]:
import numpy as np
#0. 텐서플로우 버전 선택
try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 1.x
except Exception:
    pass
import tensorflow as tf
import numpy as np

TensorFlow 1.x selected.

In [25]:
x_data = np.array([[0,0],[0,1],[1,0],[1,1]], dtype = np.float32)
y_data = np.array([[0],[1],[1],[0]], dtype= np.float32)

In [26]:
X = tf.placeholder(tf.float32)
Y = tf.placeholder(tf.float32)

In [27]:
W = tf.Variable(tf.random_normal([2,1], name = 'weight'))
b = tf.Variable(tf.random_normal([1]), name = 'bias')

In [28]:
hypothesis = tf.sigmoid(tf.matmul(X,W) +b)

In [29]:
cost = -tf.reduce_mean(Y *tf.log(hypothesis) +(1-Y) *tf.log(1-hypothesis))
train = tf.train.GradientDescentOptimizer(learning_rate = 0.1).minimize(cost)

In [30]:
predicted = tf.cast(hypothesis > 0.5, dtype=tf.float32)
accuracy = tf.reduce_mean(tf.cast(tf.equal(predicted, Y),dtype=tf.float32))

In [ ]:
with tf.Session() as sess:
  sess.run(tf.global_variables_initializer())
  
  for step in range(10001):
    sess.run(train, feed_dict = {X:x_data, Y:y_data})
    
    if step % 100 == 0:
      print(step, sess.run(cost, feed_dict = {X:x_data, Y:y_data}), sess.run(W))
  hypothesis_, predicted_, accuracy_ = sess.run([hypothesis, predicted, accuracy], feed_dict = {X:x_data, Y: y_data})
  print("\n Hypothesis:", hypothesis_, "\n Correct:", predicted_, "\nAccuracy:", accuracy_)

3. XOR 문제 뉴럴네트워크 사용

In [43]:
x_data = np.array([[0,0],[0,1],[1,0],[1,1]], dtype = np.float32)
y_data = np.array([[0],[1],[1],[0]], dtype= np.float32)

In [44]:
X = tf.placeholder(tf.float32)
Y = tf.placeholder(tf.float32)

In [45]:
W1 = tf.Variable(tf.random_normal([2,2], name = 'weight1'))
b1 = tf.Variable(tf.random_normal([2]), name='bias1')
L1 = tf.sigmoid(tf.matmul(X, W1) + b1)

In [46]:
W2 = tf.Variable(tf.random_normal([2,1]), name = 'weight2')
b2 = tf.Variable(tf.random_normal([1]), name = 'bias2')
hypothesis = tf.sigmoid(tf.matmul(L1, W2) + b2)

In [47]:
cost = -tf.reduce_mean(Y * tf.log(hypothesis) + (1-Y) * tf.log(1-hypothesis))
train = tf.train.GradientDescentOptimizer(learning_rate=0.1).minimize(cost)

In [48]:
predicted = tf.cast(hypothesis >0.5, dtype=tf.float32)
accuracy = tf.reduce_mean(tf.cast(tf.equal(predicted, Y), dtype = tf.float32))

In [ ]:
with tf.Session() as sess:
  sess.run(tf.global_variables_initializer())
  
  for step in range(10001):
    sess.run(train, feed_dict = {X:x_data, Y:y_data})
    
    if step % 100 == 0:
      print(step, sess.run(cost, feed_dict = {X:x_data, Y:y_data}), sess.run(W1))
  hypothesis_, predicted_, accuracy_ = sess.run([hypothesis, predicted, accuracy], feed_dict = {X:x_data, Y: y_data})
  print("\n Hypothesis:", hypothesis_, "\n Correct:", predicted_, "\nAccuracy:", accuracy_)

4. 폐암 예측 모델 생성

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir("/content/drive/My Drive/Colab Notebooks")
%ls

 01.linear_regression.ipynb              'ex04_Logistic Regression.ipynb'
'10강 실습코드.ipynb'                    'ex05_mutinomial logistic.ipynb'
'11강 실습코드.ipynb'                    'ex06_CNN (1).ipynb'
 12강실습코드_html.ipynb                  ex06_CNN.ipynb
'12강 실습코드_Youtube.ipynb'            'ex07_RNN (1).ipynb'
'6강_다변량 로지스틱 회귀분석.ipynb'      ex07_RNN.ipynb
 7강실습코드.ipynb                        ex08_LSTM.ipynb
'8강 실습코드.ipynb'                      ex09_optimazation.ipynb
'9강 실습코드.ipynb'                      ex09_optimization_keras.ipynb
 Accidents0515.csv                        ex10_analysis.ipynb
 cache/                                   example.html
'campus recruit.csv'                      logistic_express.ipynb
 Casualties0515.csv                      'logistic regression.ipynb'
 class01.ipynb                            lstm.ipynb
 class02.ipynb                            pandas-profiling-master.zip
 class03.ipynb                            statistics.ipynb
 class04.ipynb                            SWEETVIZ_REPORT.gdoc
 class05.ipynb                            SWEETVIZ_REPORT.html
'Copy of ex01_hello'                      test_accident.csv
'Copy of Untitled6.ipynb'                 test_dataset.xlsx
 covid19-countries-statistical-dataset/   ThoraricSurgery.csv
 data/                                    Untitled0.ipynb
 data-03-diabetes.csv                     Untitled1.ipynb
 data1/                                   Untitled2.ipynb
 decisionTree.dot                         Untitled3.ipynb
 decisionTree.png                         Untitled4.ipynb
 EDA_excercise.ipynb                      Untitled5.ipynb
 EDA.ipynb                                Untitled6.ipynb
 ex01_hello                               Untitled7.ipynb
'ex02_data type.ipynb'                    Untitled8.ipynb
'ex03_Linear Regression.ipynb'            Vehicles0515.csv
'ex04_logistic Regression.ipynb'

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
data = np.loadtxt('ThoraricSurgery.csv', delimiter = ',')

In [ ]:
data

array([[293.  ,   1.  ,   3.8 , ...,   0.  ,  62.  ,   0.  ],
       [  1.  ,   2.  ,   2.88, ...,   0.  ,  60.  ,   0.  ],
       [  8.  ,   2.  ,   3.19, ...,   0.  ,  66.  ,   1.  ],
       ...,
       [406.  ,   6.  ,   5.36, ...,   0.  ,  62.  ,   0.  ],
       [ 25.  ,   8.  ,   4.32, ...,   0.  ,  58.  ,   1.  ],
       [447.  ,   8.  ,   5.2 , ...,   0.  ,  49.  ,   0.  ]])

In [ ]:
data.shape

(470, 18)

In [ ]:
pd.read_csv('ThoraricSurgery.csv')

     293  1   3.8   2.8  0  0.1  0.2  ...  0.6  0.7  0.8  1.1  0.9  62  0.10
0      1  2  2.88  2.16  1    0    0  ...    0    0    0    1    0  60     0
1      8  2  3.19  2.50  1    0    0  ...    0    0    1    1    0  66     1
2     14  2  3.98  3.06  2    0    0  ...    0    0    0    1    0  80     1
3     17  2  2.21  1.88  0    0    1  ...    0    0    0    1    0  56     0
4     18  2  2.96  1.67  0    0    0  ...    0    0    0    1    0  61     0
..   ... ..   ...   ... ..  ...  ...  ...  ...  ...  ...  ...  ...  ..   ...
464   98  6  3.04  2.40  2    0    0  ...    0    0    0    1    0  76     0
465  369  6  3.88  2.72  1    0    0  ...    0    0    0    1    0  77     0
466  406  6  5.36  3.96  1    0    0  ...    0    0    0    0    0  62     0
467   25  8  4.32  3.20  0    0    0  ...    0    0    0    0    0  58     1
468  447  8  5.20  4.10  0    0    0  ...    0    0    0    0    0  49     0

[469 rows x 18 columns]

In [ ]:
np.random.seed(3)
tf.random.set_seed(3)

In [ ]:
X = data[:,0:17]
Y = data[:,17]

In [ ]:
model =Sequential()
model.add(Dense(30, input_dim = 17, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.compile(loss = 'mean_squared_error', optimizer = 'adam', metrics=['accuracy'])
model.fit(X, Y, epochs= 100, batch_size=10)

Epoch 1/100
47/47 [==============================] - 0s 996us/step - loss: 0.1202 - accuracy: 0.8532
Epoch 2/100
47/47 [==============================] - 0s 904us/step - loss: 0.1224 - accuracy: 0.8638
Epoch 3/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1243 - accuracy: 0.8596
Epoch 4/100
47/47 [==============================] - 0s 917us/step - loss: 0.1249 - accuracy: 0.8553
Epoch 5/100
47/47 [==============================] - 0s 865us/step - loss: 0.1183 - accuracy: 0.8617
Epoch 6/100
47/47 [==============================] - 0s 881us/step - loss: 0.1160 - accuracy: 0.8617
Epoch 7/100
47/47 [==============================] - 0s 957us/step - loss: 0.1169 - accuracy: 0.8553
Epoch 8/100
47/47 [==============================] - 0s 945us/step - loss: 0.1196 - accuracy: 0.8638
Epoch 9/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1224 - accuracy: 0.8596
Epoch 10/100
47/47 [==============================] - 0s 999us/step - loss: 0.1200 - accuracy: 0.8638
Epoch 11/100
47/47 [==============================] - 0s 946us/step - loss: 0.1174 - accuracy: 0.8596
Epoch 12/100
47/47 [==============================] - 0s 872us/step - loss: 0.1183 - accuracy: 0.8574
Epoch 13/100
47/47 [==============================] - 0s 981us/step - loss: 0.1203 - accuracy: 0.8532
Epoch 14/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1215 - accuracy: 0.8511
Epoch 15/100
47/47 [==============================] - 0s 970us/step - loss: 0.1246 - accuracy: 0.8660
Epoch 16/100
47/47 [==============================] - 0s 944us/step - loss: 0.1269 - accuracy: 0.8511
Epoch 17/100
47/47 [==============================] - 0s 941us/step - loss: 0.1240 - accuracy: 0.8511
Epoch 18/100
47/47 [==============================] - 0s 929us/step - loss: 0.1219 - accuracy: 0.8489
Epoch 19/100
47/47 [==============================] - 0s 920us/step - loss: 0.1278 - accuracy: 0.8553
Epoch 20/100
47/47 [==============================] - 0s 936us/step - loss: 0.1318 - accuracy: 0.8617
Epoch 21/100
47/47 [==============================] - 0s 909us/step - loss: 0.1266 - accuracy: 0.8638
Epoch 22/100
47/47 [==============================] - 0s 935us/step - loss: 0.1183 - accuracy: 0.8596
Epoch 23/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1242 - accuracy: 0.8617
Epoch 24/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1241 - accuracy: 0.8468
Epoch 25/100
47/47 [==============================] - 0s 961us/step - loss: 0.1352 - accuracy: 0.8574
Epoch 26/100
47/47 [==============================] - 0s 955us/step - loss: 0.1312 - accuracy: 0.8617
Epoch 27/100
47/47 [==============================] - 0s 912us/step - loss: 0.1298 - accuracy: 0.8617
Epoch 28/100
47/47 [==============================] - 0s 993us/step - loss: 0.1300 - accuracy: 0.8596
Epoch 29/100
47/47 [==============================] - 0s 940us/step - loss: 0.1267 - accuracy: 0.8660
Epoch 30/100
47/47 [==============================] - 0s 949us/step - loss: 0.1182 - accuracy: 0.8681
Epoch 31/100
47/47 [==============================] - 0s 925us/step - loss: 0.1230 - accuracy: 0.8532
Epoch 32/100
47/47 [==============================] - 0s 920us/step - loss: 0.1178 - accuracy: 0.8596
Epoch 33/100
47/47 [==============================] - 0s 931us/step - loss: 0.1174 - accuracy: 0.8702
Epoch 34/100
47/47 [==============================] - 0s 921us/step - loss: 0.1161 - accuracy: 0.8511
Epoch 35/100
47/47 [==============================] - 0s 975us/step - loss: 0.1301 - accuracy: 0.8574
Epoch 36/100
47/47 [==============================] - 0s 992us/step - loss: 0.1129 - accuracy: 0.8681
Epoch 37/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1234 - accuracy: 0.8638
Epoch 38/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1220 - accuracy: 0.8617
Epoch 39/100
47/47 [==============================] - 0s 964us/step - loss: 0.1161 - accuracy: 0.8702
Epoch 40/100
47/47 [==============================] - 0s 892us/step - loss: 0.1191 - accuracy: 0.8681
Epoch 41/100
47/47 [==============================] - 0s 890us/step - loss: 0.1164 - accuracy: 0.8617
Epoch 42/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1305 - accuracy: 0.8553
Epoch 43/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1220 - accuracy: 0.8638
Epoch 44/100
47/47 [==============================] - 0s 996us/step - loss: 0.1181 - accuracy: 0.8681
Epoch 45/100
47/47 [==============================] - 0s 991us/step - loss: 0.1195 - accuracy: 0.8660
Epoch 46/100
47/47 [==============================] - 0s 933us/step - loss: 0.1141 - accuracy: 0.8596
Epoch 47/100
47/47 [==============================] - 0s 915us/step - loss: 0.1189 - accuracy: 0.8596
Epoch 48/100
47/47 [==============================] - 0s 919us/step - loss: 0.1162 - accuracy: 0.8723
Epoch 49/100
47/47 [==============================] - 0s 924us/step - loss: 0.1153 - accuracy: 0.8617
Epoch 50/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1156 - accuracy: 0.8638
Epoch 51/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1130 - accuracy: 0.8723
Epoch 52/100
47/47 [==============================] - 0s 935us/step - loss: 0.1120 - accuracy: 0.8638
Epoch 53/100
47/47 [==============================] - 0s 965us/step - loss: 0.1138 - accuracy: 0.8617
Epoch 54/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1187 - accuracy: 0.8638
Epoch 55/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1162 - accuracy: 0.8681
Epoch 56/100
47/47 [==============================] - 0s 964us/step - loss: 0.1130 - accuracy: 0.8617
Epoch 57/100
47/47 [==============================] - 0s 974us/step - loss: 0.1186 - accuracy: 0.8596
Epoch 58/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1185 - accuracy: 0.8660
Epoch 59/100
47/47 [==============================] - 0s 938us/step - loss: 0.1155 - accuracy: 0.8660
Epoch 60/100
47/47 [==============================] - 0s 966us/step - loss: 0.1116 - accuracy: 0.8681
Epoch 61/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1175 - accuracy: 0.8617
Epoch 62/100
47/47 [==============================] - 0s 950us/step - loss: 0.1161 - accuracy: 0.8638
Epoch 63/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1140 - accuracy: 0.8617
Epoch 64/100
47/47 [==============================] - 0s 963us/step - loss: 0.1202 - accuracy: 0.8638
Epoch 65/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1128 - accuracy: 0.8723
Epoch 66/100
47/47 [==============================] - 0s 989us/step - loss: 0.1187 - accuracy: 0.8660
Epoch 67/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1132 - accuracy: 0.8702
Epoch 68/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1189 - accuracy: 0.8723
Epoch 69/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1290 - accuracy: 0.8596
Epoch 70/100
47/47 [==============================] - 0s 974us/step - loss: 0.1230 - accuracy: 0.8596
Epoch 71/100
47/47 [==============================] - 0s 935us/step - loss: 0.1217 - accuracy: 0.8596
Epoch 72/100
47/47 [==============================] - 0s 943us/step - loss: 0.1200 - accuracy: 0.8702
Epoch 73/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1201 - accuracy: 0.8702
Epoch 74/100
47/47 [==============================] - 0s 995us/step - loss: 0.1111 - accuracy: 0.8617
Epoch 75/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1107 - accuracy: 0.8702
Epoch 76/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1213 - accuracy: 0.8638
Epoch 77/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1177 - accuracy: 0.8681
Epoch 78/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1166 - accuracy: 0.8702
Epoch 79/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1120 - accuracy: 0.8723
Epoch 80/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1135 - accuracy: 0.8702
Epoch 81/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1188 - accuracy: 0.8660
Epoch 82/100
47/47 [==============================] - 0s 985us/step - loss: 0.1170 - accuracy: 0.8766
Epoch 83/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1172 - accuracy: 0.8681
Epoch 84/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1226 - accuracy: 0.8596
Epoch 85/100
47/47 [==============================] - 0s 925us/step - loss: 0.1263 - accuracy: 0.8553
Epoch 86/100
47/47 [==============================] - 0s 927us/step - loss: 0.1208 - accuracy: 0.8617
Epoch 87/100
47/47 [==============================] - 0s 902us/step - loss: 0.1123 - accuracy: 0.8702
Epoch 88/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1084 - accuracy: 0.8723
Epoch 89/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1161 - accuracy: 0.8617
Epoch 90/100
47/47 [==============================] - 0s 962us/step - loss: 0.1236 - accuracy: 0.8553
Epoch 91/100
47/47 [==============================] - 0s 936us/step - loss: 0.1256 - accuracy: 0.8660
Epoch 92/100
47/47 [==============================] - 0s 933us/step - loss: 0.1134 - accuracy: 0.8766
Epoch 93/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1110 - accuracy: 0.8723
Epoch 94/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1173 - accuracy: 0.8660
Epoch 95/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1134 - accuracy: 0.8702
Epoch 96/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1222 - accuracy: 0.8617
Epoch 97/100
47/47 [==============================] - 0s 919us/step - loss: 0.1160 - accuracy: 0.8596
Epoch 98/100
47/47 [==============================] - 0s 1ms/step - loss: 0.1232 - accuracy: 0.8638
Epoch 99/100
47/47 [==============================] - 0s 995us/step - loss: 0.1186 - accuracy: 0.8723
Epoch 100/100
47/47 [==============================] - 0s 972us/step - loss: 0.1114 - accuracy: 0.8702

In [ ]:
print("\n Accuracy: %.4f" %(model.evaluate(X,Y)[1]))

15/15 [==============================] - 0s 1ms/step - loss: 0.1062 - accuracy: 0.8745

 Accuracy: 0.8745

In [ ]:
new_x = np.array([[23,3,2.36,1.68,0,0,0,0,0,0,12,0,0,0,1,0,62]])

In [ ]:
new_x = np.array([[197,3,2.84,2.24,1,1,1,0,0,0,12,0,0,0,1,0,68]])

In [ ]:
new_x = np.random.randint(100,size = (1,17))

In [ ]:
y_predict = model.predict(new_x)

In [ ]:
print(y_predict)

[[0.37975103]]

참고 사이트: https://stellarway.tistory.com/13?category=883928 https://sshkim.tistory.com/150 https://yamerong.tistory.com/45